.header {
  display: flex;
  height: auto;
  left: 0;
  padding: 15px 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;

  &__logo {
    background-image: url('../images/icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 80px;
    width: 50px;
  }

  &__links {
    display: flex;
    float: right;

    &-link {
      & + .header__links-link {
        margin-left: 15px;
      }
    }
  }
}
