.hero {
  background: transparent;
  width: 100%;

  &__content {
    color: $color-primary;
    display: table-cell;
    font-family: $primary-font;
    height: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    vertical-align: middle;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 15px;
    position: relative;
  }

  &__subtitle {
    color: $color-secondary;
    letter-spacing: .1px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 24px;
  }

  &__image {
    background: url('../images/profile-picure.jpg') no-repeat;
    background-size: contain;
    border-radius: 100%;
    box-shadow: 3px 7px 14px 0 rgba(#000, .08);
    height: 356px;
    margin: 0 auto;
    width: 356px;

    &::before {
      background-color: rgba($color-primary, .2);
      border-radius: 100%;
      content: '';
      height: 356px;
      position: absolute;
      width: 356px;
    }

    &::after {
      background: url('../images/dots.jpg') no-repeat;
      background-size: contain;
      content: '';
      height: 696px;
      left: -20px;
      position: absolute;
      top: -90px;
      width: 696px;
      z-index: -1;
    }
  }

  &__icon {
    background: url('../images/hand-wave.svg') no-repeat;
    background-size: contain;
    height: 60px;
    position: absolute;
    right: 85px;
    top: -5px;
    width: 60px;
  }

  &__links {
    margin-top: 30px;

    .link {
      background-size: contain;
      display: inline-block;
      height: 35px;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 35px;

      & + .link {
        margin-left: 16px;
      }

      &--linkedin {
        background: url('../images/social-icons/linkedin-icon.svg') no-repeat;
      }

      &--github {
        background: url('../images/social-icons/github-icon.svg') no-repeat;
      }

      &--codepen {
        background: url('../images/social-icons/codepen-icon.svg') no-repeat;
      }

      &--instagram {
        background: url('../images/social-icons/insta-icon.svg') no-repeat;
      }
    }
  }
}
