.projects {
	font-size: 20px;
	padding: 20px 0 0;

	&__btn {
		@include button-base;
		background: $color-primary;
		border: 1.5px solid $color-white;
		color: $color-white;
		padding: 10px 25px;
		height: unset;
		position: absolute;
		top: -20px;
		left: -2px;
		font-size: 18px;
	}
}

.project {
	&__timeline {
		color: $color-white;
		margin-top: 40px;

		&-date {
			font-size: 18px;
			background-color: $color-primary;
			padding: 10px 0;
			text-align: center;
		}

		&::before {
			content: '';
			border-left: .25px solid $color-white;
			position: absolute;
			top: 0px;
			bottom: 0;
			left: 50%;
			z-index: -1;
		}
	}

	&__card {
		background-color: $color-white;
		padding: 25px;
		margin-bottom: 50px;
		position: relative;
		border-radius: 4px;

		&::before {
			content: '';
			position: absolute;
			left: -20px;
			top: 30px;
			width: 0;
			height: 0;
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
			border-right: 30px solid $color-white;
		}

		&-name {
			font-family: $secondary-font;
			font-size: 23px;
			line-height: 30px;
			margin-bottom: 5px;
		}

		&-subtitle {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 7px;
		}

		&-description {
			font-weight: 300;
			font-size: 14px;
			line-height: 22px;
			height: 0;
			opacity: 0;
		}

		&-tech {
			font-size: 14px;
			font-weight: 500;
			margin-top: 16px;
			line-height: 20px;
		}

		&-btn {
			@include button-base;
			width: 116px;
			height: 29px;
			font-size: 12px;
			position: relative;
			padding-left: 16px;
			margin: 15px 0 20px;
			background-color: $color-white;

			&--showmore {
				background-color: $color-green;
				color: $color-white;

				&::before {
					font-size: 16px;
					content: '+';
					position: absolute;
					left: 10px;
					top: 50%;
					margin-top: -8px;
				}
			}

			&--showless {
				background-color: $color-white;
				border: 1px solid $color-primary;
				color: $color-primary;

				&::before {
					font-size: 16px;
					content: '';
					position: absolute;
					left: 15px;
					top: 50%;
					margin-top: -1px;
					width: 8px;
					height: 2px;
					background-color: $color-primary;
				}
			}
		}

		&-tags {
			background-color: $color-white;
			border-top: 1px solid $color-grey-light;
			padding-top: 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: left;

			.tag {
				text-transform: uppercase;
				font-size: 13px;
				border-radius: 100px;
				padding: 7px 24px;
				border: 1px solid $color-grey;
				color: $color-grey;
				display: block;
				margin-top: 10px;
				margin-right: 10px;
			}
		}

		&-image {
			height: 100%;
			width: 300px;
			box-shadow: 0 8px 16px 0 rgba(#000, .1);
			border-radius: 12px;
			border: 3px solid $color-white;
			background-color: $color-green;
			margin: 0 auto;
			position: relative;
			overflow: hidden;

			img {
				position: absolute;
				width: 100%;
			}
		}
	}

	&:first-child {
		.project__timeline {
			margin: 0;

			&::before {
				width: 10px;
				height: 10px;
				border-radius: 10px;
				border: 0;
				background-color: $color-white;
				top: 38px;
				margin-left: -5px;
			}
		}
	}

	&:last-child {
		.project__timeline {
			padding: 10px 0;

			&::before {
				content: '';
				position: absolute;
				width: 90px;
				height: 1px;
				background-color: $color-white;
				bottom: 0;
				left: 50%;
			}
		}
	}
}

