.setup {
  background-color: $color-white;

  &::before {
    background: url('../images/wave-white.png');
    background-size: 100%;
    content: '';
    height: 146px;
    position: absolute;
    top: -57px;
    width: 100%;
    z-index: -1;
  }
}
