.setup {
  background-color: #F7EEEE;
  padding: 0;

  .section__title {
    margin: 120px auto 0;
  }
}

@include tablet-breakpoint {
  .setup {
    .section__title {
      margin: 60px auto -60px;
    }

    svg {
      height: 100vw;
      margin-left: 15px;
    }
  }
}

@include phone-breakpoint {
  .setup {
    padding-top: 30px;

    .section__title {
      margin: 30px auto 0;
    }
  }
}
