.skills {
  background-color: $color-white;
  padding: 120px 0 60px;

  &::before {
    background: url('../images/wave-white.png') no-repeat;
    background-size: 100%;
    content: '';
    height: 146px;
    position: absolute;
    top: -65px;
    width: 100%;
    z-index: -1;
  }

  .section__title {
    text-align: center;
  }

  &__list {
    color: $color-grey-medium;
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    justify-content: flex-start;
    list-style-type: disc;
    margin: 0 auto;
    max-width: 600px;

    &-item {
      flex-basis: 25%;
      margin-top: 25px;
    }
  }
}

@include tablet-breakpoint {
  .skills {
    padding-top: 60px;

    &::before {
      background-size: cover;
    }

    &__list {
      list-style: none;
    }

    &__list-item {
      flex-basis: 33.33%;
      text-align: center;
    }
  }
}
