.waves {
  position: relative;

  .wave {
    background-image: url('../images/waves.png');
    background-repeat: repeat-x;
    background-size: 1400px 378px;
    bottom: 0;
    height: 378px;
    left: 0;
    position: absolute;
    width: 100%;

    &--1 {
      background-position: 0;
      bottom: -140px;
      opacity: 1;
      z-index: 10;
    }

    &--2 {
      background-position: 500px;
      bottom: -110px;
      opacity: .5;
      z-index: 9;
    }

    &--3 {
      background-position: 900px;
      bottom: -120px;
      opacity: .2;
      z-index: 8;
    }

    &--4 {
      background-position: 1200px;
      bottom: -100px;
      opacity: .7;
      z-index: 7;
    }
  }
}
