$primary-font: 'Roboto Mono', monospace;
$secondary-font: 'IBM Plex Mono', monospace;
$primary-font-color: #4C4646;
$primary-color: #F58B61;
$white-color: #fff;

@import './reset';
@import './animation';
@import './hero';
@import './waves';
@import './header';

.app {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.section-static {
  background-color: $primary-color;
  min-height: 100vh;
  position: relative;
  z-index: 5;
}

.section-fixed {
  background-color: transparent;
  position: fixed;
  z-index: 0;
}

.section-placeholder {
  background-color: transparent;
  min-height: 100vh;
}

.btn {
  font-family: $primary-font;

  &--primary {
    border: 2px solid $primary-color;
    background-color: $primary-color;
    color: $white-color;
  }

  &--secondary {
    border: 2px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
  }

  &--no-outline {
    border: 2px solid transparent;
    background-color: transparent;
    color: $primary-color;
  }
}
