@import './reset';
@import './animation';

$primary-font: 'Roboto Mono', monospace;
$secondary-font: 'IBM Plex Mono', monospace;
$primary-font-color: #4C4646;
$primary-color: #F58B61;
$white-color: #fff;

.app {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.section {
  background-color: $primary-color;
  min-height: 100vh;
  position: relative;
  z-index: 5;
}

.section-fixed {
  background-color: $white-color;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .section-inner {
  }
}

.section-placeholder {
  background-color: transparent;
}
