$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Mono', monospace;
$color-primary: #F58B61;
$color-secondary: #4C4646;
$color-green: #7F925C;
$color-grey: #A5A5A5;
$color-grey-medium: #827B7B;
$color-grey-light: #DCDCDC;
$color-white: #fff;

@mixin button-base {
  font-family: $primary-font;
  height: 47px;
  text-transform: uppercase;
  border: 0px;
  outline: none;
  border-radius: 4px;
  outline: none;

  &:focus {
    outline: none;
  }
}

@import './reset';
@import './animation';

.app {
  color: $color-secondary;
  font-family: $primary-font;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.section {
  &__title {
    color: $color-primary;
    font-family: $secondary-font;
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
  }

  &-static {
    padding: 60px 0;
    position: relative;
    z-index: 11;
  }

  &-fixed {
    background-color: transparent;
    position: fixed;
    z-index: 0;
  }

  &-placeholder {
    background-color: transparent;
    min-height: 100vh;
  }

  .row-container {
    margin: 0 auto;
    max-width: 950px;
  }
}

.btn {
  @include button-base;
  line-height: 2;
  width: 219px;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }

  &--primary {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    color: $color-white;
  }

  &--secondary {
    background-color: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;
  }

  &--no-outline {
    background-color: transparent;
    border: 2px solid transparent;
    color: $color-primary;
    width: auto;
  }
}

@import './hero';
@import './waves';
@import './header';
@import './projects';
@import './skills';
@import './setup';
@import './about';
@import './contact';
